body{

background:#020617;
color:white;
font-family:Arial;

}


.box{

max-width:700px;
margin:40px auto;
background:#1e293b;
padding:30px;
border-radius:20px;

}


h1{

color:#38bdf8;
text-align:center;

}


input,textarea{

width:100%;
padding:15px;
margin:10px 0;
border-radius:12px;
background:#0f172a;
color:white;
border:1px solid #334155;

}


textarea{

height:250px;

}


button{

padding:15px 20px;
margin:5px;
border:none;
border-radius:12px;
background:#2563eb;
color:white;
cursor:pointer;

}
